/* Aquí definimos las Custom properties */
:root{
  --negro         : black;
  --blanco        : white;
  --negroGris     : #393939;
  --naranja       : #e6ae48;
  --gris          : #F9F9F9;

  /* Tipografía */
  --tipo-principal  : 'Raleway',sans-serif;
}
  